// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

// COLORS
$c-black: #121212;
$c-grey: #e4e4e4;
$c-white: #fefefe;
$c-royalblue: #5576df;


// IMPORTS
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'card-searchbar';
@import 'card-results';
