// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

// COLORS
$c-black: #121212;
$c-grey: #e4e4e4;
$c-white: #fefefe;
$c-royalblue: #5576df;


// IMPORTS
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';


.card {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  background: $c-grey;

  // Search Bar
  &__search {
    display: flex;
    width: 100%;

    > * { // all elements inside .card__search
      padding: 0.5rem;
      font-size: 1.15rem;
    }

    &-input {
      flex-grow: 1;
    }

    &-btn {
      width: 5.5rem;
      border: 0;
      background: $c-royalblue;
      color: $c-white;
    }
  } // end search bar

  &__results {
    padding: 2rem;
  } // __results

} // .card



// Card results
.results__top {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &--info-title {
    margin-top: 0;
  }

  &--info-rating {
    font-size: 1.35rem;

    > * + * {
      padding-left: 0.5rem;
    }
  } // --info-rating
} // __top
